/*
 * 基础色
 */

$blue-lighten: #4DBCF8;
$blue: #2066C2;
$blue-darken: #1151A5;
$blue-ink: #0B4370;
$blue-gradient: linear-gradient(0deg, $blue-lighten 0%, $blue-darken 100%);

$yellow: #FFD574;
$brown: #8F480E;

$green: #1FBD6B;
$green-lighten: #C9FFC6;

$black: #000;
$white: #fff;
