@import 'color';
@import 'size';

// 字体颜色
$title-color: lighten($black, 0.75);
$body-color: lighten($black, 0.65);
$caption-color: lighten($black, 0.43);
$disabled-color: lighten($black, 0.25);
$link: #108EE9;
