/*
 * 尺寸
 */

/* 间隔 */
$gap-tiny: 5px;
$gap-small: 10px;
$gap-normal: 20px;
$gap-big: 40px;
$gap-gaint: 80px;

$media-ip5: 320px;
$media-ip5-rotate: 568px;
$media-ip6: 375px;
$media-ip6-rotate: 667px;
$media-ip6p: 414px;
$media-ip6p-rotate: 736px;